@page
@model caotinhofeliz.Pages_Clientes.IndexModel

@{
    ViewData["Title"] = "Cadastar Cliente";
}

<h1>Página inicial de Cadastro de clientes</h1>

<p>
    <a asp-page="Create">Cadastrar Novo Cliente:</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Alterar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhar</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
