@page
@model caotinhofeliz.Pages_Pets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhar</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Especie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Especie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Cliente.CPF)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pet.Id">Alterar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
